.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  border-bottom: 1px solid rgba(212, 60, 0, 1);
  background-color: white;
  .closeButton{
    border: none;
    background: transparent;
  }
  .closeImage {
    &:hover{
      cursor: pointer;
    }
    width: 20px;
    height: 20px;
  }
}

.textH4{
  color: rgb(211, 61, 1);
}

.textHeader{
  color: inherit;
  
}

.card {
  width: 180px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  box-shadow: 15px 15px  rgba(212, 60, 0, 1);
}

.mainTag {
  padding: 0 70px;
  margin-top: 20px;
}